[Unit]
Description=dynupd, the HTTP API component of nsddyn
After=network.target

[Service]
EnvironmentFile=/opt/nsddyn/etc/dynupd
ExecStart=/opt/nsddyn/bin/dynupd $DYNUPD_ARGS
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
User=nsddyn
Group=nsddyn
WorkingDirectory=/opt/nsddyn

# can't use strict because we need to be able to write
# to the zonefile.
# full makes /usr, /boot, and /etc read-only so the zonefile
# can't be in /etc/nsd/ either.
ProtectSystem=full

[Install]
WantedBy=multi-user.target
